<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/list.css">
    <link rel="stylesheet" href="./css/products.css">
    <title>SellIt!</title>
</head>
<body class="success-body" style="background-color:rgb(29, 29, 29);">
    
<style>
    .helpimg{
        max-width: 100%;
        max-height: 100%;
    }
</style>
    
<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark shadow " style="background-color: rgba(0,0,0,1);  font-family: Arial, Helvetica, sans-serif;" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <img src="./images/signin.png" class="img-fluid" style="width: 40px; height: 40px; overflow: hidden;">
      </li>
      <li class="nav-item active nav-link">
        Rocket League Auctions  
      </li>
      <li class="nav-item active" style="margin-left: 890px;">
        <a class="nav-link" href="/list">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Help">Help</a>
      </li>
    </ul>
    
  </nav>
<!--CSS-->



  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Having Trouble?</h1>
      <p class="lead font-weight-normal">Here's a little bit of information to help you on your way</p>
      
    </div>
   
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Account Creation</h2>
        <p class="lead">You'll need to create an account to use our website. The username has to be unique. We reccomend setting it as your Steam or Epic games account name.</p>
      </div>
      <div class=" box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img class="helpimg" src="./images/register.png" alt=""></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Homepage</h2>
        <p class="lead">You can view the auctions that other people have listed, here. Click on "Bid" if you've found something that you might be interested in buying!</p>
      </div>
      <div class=" box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img class="helpimg" src="./images/homepage.png" alt=""></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Cast Your Bid</h2>
        <p class="lead">Once you've choosen a product of your liking, you can bid for it here. Your bid amount should be greater than the current highest bid. You can also click on the name of the poster to view their details!</p><br>
      </div>
      <div class=" box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img class="helpimg" src="./images/bid.png" alt=""></div>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Create A Listing</h2>
        <p class="lead">Have a product you want to sell? Click on 'Add' in the navbar, enter the item details, set a base price and you're done! You can use common conventions to describe your product, such as (TW) for "Titanium White".</p>
      </div>
      <div class=" box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img class="helpimg" src="./images/add.png" alt=""></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">View Your Profile</h2>
        <p class="lead">Head over to your profile to see your details, such as your username, email, auctions listed, and the auctions youve participated in. You can also log out of our website from here.</p>
      </div>
      <div class=" box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><img class="helpimg" src="./images/profile.png" alt=""></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">That's It!</h2>
        <p class="lead">Now go out there and get trading!</p>
      </div>
      <div class=" mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" ><img class="helpimg" src="./images/signin.png" alt=""></div>
    </div>
  </div>

 

  <footer class="container py-5">
    <p>2019-2020</p>
  </footer>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>
</body>



</body>
</html>